<a href="https://colab.research.google.com/github/GermanStanzione/TT-2C2025-Data-Analitycs-Notebooks/blob/main/After_class_6/Mia/After%20Class%206%20-%20Actividad%20con%20Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividades con Dataset Titanic

# Actividad 1: Análisis de supervivencia

##Objetivo
Realizar un análisis básico sobre los pasajeros del Titanic, enfocándose en la supervivencia.
1. Hacemos un EDA para familiarizarnos con los datos y tratar duplicados y nulos
2. Filtrar los pasajeros que sobrevivieron.
3. Seleccionar las columnas 'sex', 'age' y 'fare' para los pasajeros que sobrevivieron.
4. Crear una nueva columna que indique la clase de pasajero (Pclass) como una categoría.

In [1]:
# Importamos Librerias
import pandas as pd
import seaborn as sns

In [2]:
# Importamos el Dataset Titanic desde Seaborn
df = sns.load_dataset('titanic')

In [3]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# 1. EDA, tratamiento de duplicados y nulos

In [6]:
# vemos si hay duplicados
df.duplicated().sum()

np.int64(0)

In [ ]:
# Visualizamos los duplicados

In [4]:
# Drop de duplicados
df.drop_duplicates(inplace=True)

In [7]:
# Vemos si hay nulos
df.isnull().sum()

survived         0
pclass           0
sex              0
age            106
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           582
embark_town      2
alive            0
alone            0
dtype: int64

In [8]:
# Visualizamos los nulos
df[df.isnull().any(axis=1)]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
# Completamos los nulos con la media

In [9]:
# O bien dejar que Pandas complete todas las columns numéricas de forma automática
df.fillna(df.mean(numeric_only=True), inplace=True)

## 2. Filtrar los pasajeros que sobrevivieron

In [13]:
# Infor del df
#df["survived"].unique()
#df[df["survived"]==1]
df.query("survived==1")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
# Valores únicos

In [15]:
# Filtramos los pasajeros que sobrevivieron
df_sobrevivientres = df[df["survived"]==1]
df_sobrevivientres

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

## 3. Seleccionar las columnas sex, age, fare de los que sobrevivieron

In [18]:
# Seleccionamos las columnas solicitadas
df_sobrevivientres=df_sobrevivientres[["sex","age","fare"]]
df_sobrevivientres

        sex   age     fare
1    female  38.0  71.2833
2    female  26.0   7.9250
3    female  35.0  53.1000
8    female  27.0  11.1333
9    female  14.0  30.0708
..      ...   ...      ...
875  female  15.0   7.2250
879  female  56.0  83.1583
880  female  25.0  26.0000
887  female  19.0  30.0000
889    male  26.0  30.0000

[323 rows x 3 columns]

## 4. Crear una nueva columna que indique la clase de pasajero (Pclass) como una categoría.

In [22]:
# Veamos algo de dtype category
# df.info()
# df["pclass"].unique()
df["pclass"].dtype

dtype('int64')

Tipo de dato category

In [23]:
# Convertimos el tipo de dato con astype
df["pclass"] = df["pclass"].astype("category")

In [ ]:
# Validamos

# Actividad 2: Manipulación de datos

## Objetivo
Practicar la manipulación de datos haciendo selecciones y transformaciones sobre el conjunto de datos de Titanic.
1. Obtener los nombres de las columnas del DataFrame.
2. Eliminar la columna 'deck'. (tener en cuenta que puede contener valores nulos y la función puede dar advertencias).
3. Reindexar el DataFrame después de eliminar la columna.

In [ ]:
# Listar las columnas

In [ ]:
# Eliminar la columna deck

In [ ]:
# Agregar una validación

In [ ]:
# Reindexar (solo tiene sentido a nivel de filas no de columnas)